{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'Product_page/css/product_page.css' %}">
{% endblock %}

{% block main %}
<div class="mainDiv">
    
    <div class="image">
        <h2>Apple iPhone 15 Pro Max</h2>
        <img src="https://yabloki.ua/media/cache/app_product_page_small_slider_image/94/44/a6edf81bc54bb45c1a12ef1078b4.png" alt="">
    </div>
    
    <div class="info">
        <h2>Характеристики:</h2>
        <p>Діагональ екрана: 6.7</p>
        <p>Роздільна здатність дисплея: 2796x1290</p>
        <p>Тип матриці: OLED (Super Retina XDR)</p>
        <p>Частота оновлення екрана: 120 Гц</p>
        <p>Вбудована пам'ять: 1 ТБ</p>
        <p>Операційна система: iOS</p>
        <p>Фронтальна камера: 12 Мп</p>
        <p>Особливості фронтальної камери: Автофокус, Одинарна, Підтримка знімання 4К, Стабілізація, Фронтальний спалах</p>
        <p>Назва процесора: Apple A17 Pro</p>
        <p>Кількість ядер: 2+4</p>
        <p>Матеріал корпуса: Алюміній + Титан</p>
        <p>Роз'єми: USB Type-C</p>
        <p>Вага, г: 221</p>
        <p>Гарантія: 12 місяців</p>
    </div>
</div>

<div id="buttons">
    <button>Додати у кошик</button>
</div>

{% endblock %}