{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'Shopping_cart_page/css/cart.css' %}">
{% endblock %}

{% block main %}


<div id="mainDiv">
     
    <div class="block_cart">
        <div>
            <img src="https://play-lh.googleusercontent.com/N7p1LUZQj1Zrth7Jmn6tMlogB8JYv-ozxxJC-Qwq_NIqBluDSUj0Mt8BeBphM0rX9A=w240-h480-rw" alt="Product photo">
        </div>
    
        <div id="name">
            <p>Name</p>
        </div>
    
        <div id="buttons">
            <button onclick="window.location.href = 'product_page2/';">Дізнатися більше</button>
            <button>Вилучити з кошика</button>
        </div>

    </div>

    <div id="buttonConfirm">
        <button>Оформити замовлення</button>
    </div>
    
</div>

{% endblock %}