{% extends "APP_Settings/base.html" %}
{% load static %}

{% block link %}
    <title>Кошик</title>
    <link rel="stylesheet" href="{% static 'APP_Settings/css/product_base.css' %}">
{% endblock %}

{% block main %}
<div>

    <div id="image">
        <img src="https://play-lh.googleusercontent.com/N7p1LUZQj1Zrth7Jmn6tMlogB8JYv-ozxxJC-Qwq_NIqBluDSUj0Mt8BeBphM0rX9A=w240-h480-rw" alt="">
    </div>

    <div id="info">
        <p>Діагональ екрана:</p>
        <p>Роздільна здатність дисплея:</p>
        <p>Тип матриці:</p>
        <p>Частота оновлення екрана:</p>
        <p>Вбудована пам'ять:</p>
        <p>Операційна система:</p>
        <p>Фронтальна камера:</p>
        <p>Особливості фронтальної камери:</p>
        <p>Назва процесора:</p>
        <p>Кількість ядер:</p>
        <p>Матеріал корпуса:</p>
        <p>Роз'єми:</p>
        <p>Вага, г:</p>
        <p>Гарантія:</p>
    </div>

</div>
{% endblock %}