*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 25px;
    padding: 5px;
}

h2{
    padding: 5px;
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: space-around;
}

#socialPages{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* width: 400px;
    height: 230px; */
    padding-right: 175px;
    margin: 20px;
    background: linear-gradient(to top, #e3d000, #ff8800);
}

main div{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* width: 400px;
    height: 230px; */
    margin: 20px;
    background: linear-gradient(to top, #e3d000, #ff8800);
}

#telegramIco{
    width: 5%;
}

#viberIco{
    width: 7%;
}

#whatsappIco{
    width: 5%;
}

@media (max-width: 768px) {
    main {
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
    }
    p {
        font-size: 20px;
    }
    #phoneAddress {
        /* height: 60%;
        width: 60%; */
        margin: 10px;
    }
    #socialPages {
        /* height: 60%;
        width: 60%; */
        margin: 10px;
        padding-right: 140px;

    }
}