{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'Contact_page/css/contact.css' %}">
{% endblock %}

{% block main %}
<div id="phoneAddress">
    <h2>Телефони:</h2>
    <p>+380000000000</p>
    <p>+380000000000</p>
    <p>+380000000000</p>
    <h2>Адреса:</h2>
    <p>вул. В. Залужного, 1, м. Дніпро.</p>
</div>

<div id="socialPages">
    <h2><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/800px-Telegram_2019_Logo.svg.png" alt="" id="telegramIco" >Telegram:</h2>
    <p>+380000000000</p>
    <h2><img src="https://play-lh.googleusercontent.com/rSQtWt_ahw1QoUtuwZkgNV_k4sRemA0Rd44Un7elH05ZW-DPntl1RoJ0Of8v-nLhgXw" alt="" id="viberIco">Viber:</h2>
    <p>+380000000000</p>
    <h2><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="" id="whatsappIco">Whatsapp:</h2>
    <p>+380000000000</p>
</div>

{% endblock %}