{% extends 'APP_Settings/base.html' %}
{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'Authorization_Registration/css/log.css' %}">
    {% if error %}
        <script src="{% static 'Authorization_Registration/js/error.js' %}" defer></script>
    {% endif %}
{% endblock link %}
    

{% block main %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="zaglav">
            <h1>Ввійдіть в акаунт</h1>
        </div>
        <div class="centerBlock">
            <div class="registrSistem">
                <div class="label">
                    <p>Логін</p>
                    <p>Пароль</p>
                </div>
                <div class="input">
                    <input type="text" name="login">
                    <input type="password" name="password">
                </div>
            </div>
        </div>
        <div class="butn">
            <button>Підтвердити</button>
        </div>
    </form>
{% endblock main %}
    

{% block error %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
        
{% endblock error %}
    