*{
    margin: 0;
    padding: 0;
}

.block_cart {
    display: inline-block;
    position: relative;
    margin: 20px;
    border: 2px solid black;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    background: linear-gradient(to top, rgb(105, 144, 241)  , #76cdf0 , #9ab5f7 );
    width: 400px;
}


#buttons a{
    border: 2px solid orange;
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 170px;
    height: 30px;
    /* margin-left: 10px; */
    color: black;
    margin: 10px;
    text-align: center;
}

#buttons a:hover{
    background-color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    /* animation-name: example;
    animation-duration: 0.5s; */
    box-shadow: 2px 2px 2px;
}

main div div p{
    font-size: 20px;
}

main div div img{
    margin-top: 10px;
}
