*{
    margin: 0;
    padding: 0;
}

main{
    min-height: 20%;
    max-width: 97%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: #bdbdbd89;
    display: flex;
    position: fixed;
    align-items: stretch;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 4em;
    align-items: center;
    padding-inline-start: 2%;
    padding-inline-end: 2%;
    box-sizing: border-box;
    border: 3px solid black;
    border-bottom: 0;
    border-radius: 16px;
    z-index: 1;
}

.image{
    width: 15%;
    /* background-color: green; */
    display: flex;
}

.image img{
    /* height: 14em; */
    border-right: 2px solid black;
    box-sizing: border-box;
    /* width: 14em; */
    width: 100%;
}

.cart_conteiner{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* padding-block-start: 10px; */
}

.info{
    width: 85%;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.block_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-inline-end: 2%; */
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 3px;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.318);
}


.price, .name{
    display: flex;
    align-items: center;
}

.price p, .name p, .amount p, .all_price p{
    font-size: 1.5em;
}



.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}



#buttonConfirm button, .buttons button{
    border: 2px solid black;
    background-color: orange;
    border-radius: 10px;
    font-size: 20px;
    /* display: flex; */
    padding: 5px;
}

#buttonConfirm button:hover, .buttons button:hover{
    background-color: darkgoldenrod;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}

@media (max-width: 426px) {
    .block_cart {
        display: flex;
    }

    .image{
        display: flex;
        width: 30%;
    }

    .info {
        display: flex;
        width: 70%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 7px;

    }


    .buttons {
        display: flex;
        /* width: 100%; */
        flex-direction: row;
        justify-content: space-around;
        margin: 0px 5px;
    }

    .buttons button {
        font-size: 14px;
        padding: 2px;
        gap: 5px;
    }

    .amount p, .all_price p, #buttonConfirm button, .info p {
        font-size: 16px;
    }

    #buttonConfirm {
        width: 35%;
    }

    #buttonConfirm button {
        padding: 1px;
    }
}

