{% extends 'APP_Settings/base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'Main_page/css/main.css' %}">
{% endblock %}


{% block main %}

<div class="line_div">
    <div class="images">
        <h2>Apple iPhone 15 Pro Max</h2>
        <img src="https://yabloki.ua/media/cache/app_product_page_small_slider_image/94/44/a6edf81bc54bb45c1a12ef1078b4.png" alt="">
    </div>
    
    <div class="info">
        <p>Екран: 6.7 ", 2796x1290, 460 ppi, 120 Гц</p>
        <p>Камера: 3 модулі, 48 МП, + 12 МП, fullHD 60 к/с, відео 4K, оптична стабілізація, стабілізація матрицею</p>
        <p>Пам'ять: 1024 ГБ</p>
        <p>Процесор: Apple A17 Pro</p>
        <p>Корпус: скло, 221 г, товщина 8 мм</p>
        <a href="{% url 'product_page' %}">Дізнатися більше</a>
        <a href="#">Додати в кошик</a>
    </div>
    
</div>


<div class="line_div">

    <div class="images">
        <h2>Apple iPhone 15 Pro</h2>
        <img src="https://yabloki.ua/media/cache/app_product_page_small_slider_image/06/0d/799b3132b32669c8e5a2f609531a.png" alt="">
    </div>
    
    <div class="info">
        <p>Екран: 6.1 ", 2556x1179, 461 ppi, 120 Гц</p>
        <p>Камера: 3 модулі, 48 МП, + 12 МП, fullHD 60 к/с, відео 4K, оптична стабілізація, стабілізація матрицею</p>
        <p>Пам'ять: 1024 ГБ</p>
        <p>Процесор: Apple A17 Pro</p>
        <p>Корпус: скло, 187 г, товщина 8 мм</p>
        <a href="{% url 'product_page' %}">Дізнатися більше</a>
        <a href="#">Додати в кошик</a>
    </div>

</div>


<div class="line_div">


    <div class="images">
        <h2>Apple iPhone 15 Plus</h2>
        <img src="https://yabloki.ua/media/cache/app_product_page_small_slider_image/c0/84/c04b1910c6b999dcbe9e2c9377c2.png" alt="">
    </div>
    
    <div class="info">
        <p>Екран: 6.7 ", 2796х1290, 460 ppi, 60 Гц</p>
        <p>Камера: 2 модулі, 48 МП, + 12 МП, fullHD 60 к/с, відео 4K, стабілізація матрицею</p>
        <p>Пам'ять: 512 ГБ</p>
        <p>Процесор: Apple A16</p>
        <p>Корпус: скло, 201 г, товщина 8 мм</p>
        <a href="{% url 'product_page' %}">Дізнатися більше</a>
        <a href="#">Додати в кошик</a>
    </div>

</div>


<div class="line_div">
    

    <div class="images">
        <h2>Apple iPhone 15</h2>
        <img src="https://yabloki.ua/media/cache/app_product_page_small_slider_image/90/51/caa89bf03b3b9929c2c49e8cd4f8.png" alt="">
    </div>
    
    <div class="info">
        <p>Екран: 6.1 ", 2556x1179, 460 ppi, 60 Гц</p>
        <p>Камера: 2 модулі, 48 МП, + 12 МП, fullHD 60 к/с, відео 4K, стабілізація матрицею</p>
        <p>Пам'ять: 512 ГБ</p>
        <p>Процесор: Apple A16</p>
        <p>Корпус: скло, 171 г, товщина 8 мм</p>
        <a href="{% url 'product_page' %}">Дізнатися більше</a>
        <a href="#">Додати в кошик</a>
    </div>

</div>


<div class="line_div">
    

    <div class="images">
        <h2>Apple iPhone 14 Pro Max</h2>
        <img src="https://yabloki.ua/media/cache/app_product_page_small_slider_image/79/d5/eaf12ac031d35cc9e9ff37052e3f.png" alt="">
    </div>
    
    <div class="info">
        <p>Екран: 6.1 ", 2556x1179, 460 ppi, 120 Гц</p>
        <p>Камера: 3 модулі, 48 МП, + 12 МП, fullHD 60 к/с, відео 4K, оптична стабілізація, стабілізація матрицею</p>
        <p>Пам'ять: 512 ГБ</p>
        <p>Процесор: Apple A16</p>
        <p>Корпус: скло, 206 г, товщина 8 мм</p>
        <a href="{% url 'product_page' %}">Дізнатися більше</a>
        <a href="#">Додати в кошик</a>
    </div>

</div>
{% endblock %}