{% extends 'APP_Settings/base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'Main_page/css/main.css' %}">
{% endblock %}


{% block main %}
    {% for product in products %}
        <div class="line_div">
            <div class="images">
                <h2>{{ product.name }}</h2>
                <img src="{{product.image_path}}" alt="">
            </div>
            <div class="info">
                <p>Екран: {{product.screen}}</p>
                <p>Камера: {{product.camera}}</p>
                <p>Пам'ять: {{product.memory}}</p>
                <p>Процесор: {{product.cpu}}</p>
                <p>Корпус: {{product.case}}</p>
                <div class="buttons">
                    <button onclick="window.location.href = 'product_page/';" class="firstButton">Дізнатися більше</button>
                    <button>Додати у кошик</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}