/* @keyframes example {
    0% {box-shadow: 0px 0px 0px}
    50% {box-shadow: 2px 2px 2px}
    100% {box-shadow: 0px 0px 0px}
} */

.line_div .images img{
    display: inline-block;
    width: 70%;
    border: 2px solid black;
    /* margin-left: 10px; */
    background: linear-gradient(to top, #e3d000, #ff8800);
}
/* background: linear-gradient(to top, #ffea00, #ff8800); */
.images{
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    height: 320px;
}
/* #C1C8E4 */
/* background: linear-gradient(to top, #C1C8E4, #6498e9); */
/* main div{
    width: 90%;
    height: 330px;
} */

main div div h2{
    /* display: block; */
    font-size: 23px;
    /* margin-left: 10px; */
}

main div div{
    display: inline-block;
    position: absolute;
}


.info{
    /* border-left: 2px solid #C1C8E4; */
    /* border: 4px solid #C1C8E4 ; */
    width: 82%;
    /* position: absolute; */
    right: 0%;
    height: 320px;
}
.info p {
    margin-left: 10px;
    font-size: 20px;
}

/* .info #price{
    margin: 0;
    margin-left: 10px;
} */

/* .info a{
    border: 2px solid orange;
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-left: 10px;
    color: black;
}

.info a:hover{
    background-color: darkgoldenrod;
    box-shadow: 2px 2px 2px;
} */

.line_div {
    width: 98%;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px;
    height: 320px;
}
/* #C1C8E4 */

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.firstButton{
    margin-left: 8px;
}

.info button {
    border: 2px solid black;
    background-color: orange;
    border-radius: 10px;
    font-size: 22px;
    width: 200px;
    height: 45px;
}

.info button:hover{
    background-color: darkgoldenrod;
    
    /* animation-name: example;
    animation-duration: 0.5s; */
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}

#price {
    color: red;
}